*,
html {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  background: #001aff;
  background: -moz-linear-gradient(top, #001aff 0%, #ffcfb8 50%, #0001ff 100%);
  background: -webkit-linear-gradient(
    top,
    #001aff 0%,
    #ffcfb8 50%,
    #0001ff 100%
  );
  background: linear-gradient(to bottom, #001aff 0%, #ffcfb8 50%, #0001ff 100%);
}

.bg_img {
  background-image: url("wallpaper.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: black;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
}

input {
  border: none;
  border-radius: 10px;
  background-color: #eaeaea;
  color: #222222;
  padding: 16px;
  margin-top: 10px;
  font-size: 24px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.row {
  display: flex;
  flex-direction: row;
}

button {
  border: none;
  background-color: #eaeaea;
  font-size: 24px;
  padding: 16px;
  margin-left: 10px;
  height: 65px;
  margin-top: 10px;
  font-weight: 500;
  width: 4em;
  border-radius: 8px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);

  background: #001aff;
  background: -moz-linear-gradient(top, #001aff 0%, #ffcfb8 50%, #0001ff 100%);
  background: -webkit-linear-gradient(
    top,
    #001aff 0%,
    #ffcfb8 50%,
    #0001ff 100%
  );
  background: linear-gradient(to bottom, #001aff 0%, #ffcfb8 50%, #0001ff 100%);
}

.foot {
  color: black;
  font-weight: bold;
  font-style: italic;
  min-height: 5vh;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
}

.loader {
  font-size: 10px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em #1a0459, 2em -2em 0 0em #1a0459,
      3em 0 0 -1em #1a0459, 2em 2em 0 -1em #1a0459, 0 3em 0 -1em #1a0459,
      -2em 2em 0 -1em #1a0459, -3em 0 0 -1em #1a0459, -2em -2em 0 0 #1a0459;
  }
  12.5% {
    box-shadow: 0 -3em 0 0 #1a0459, 2em -2em 0 0.2em #1a0459, 3em 0 0 0 #1a0459,
      2em 2em 0 -1em #1a0459, 0 3em 0 -1em #1a0459, -2em 2em 0 -1em #1a0459,
      -3em 0 0 -1em #1a0459, -2em -2em 0 -1em #1a0459;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em #1a0459, 2em -2em 0 0 #1a0459,
      3em 0 0 0.2em #1a0459, 2em 2em 0 0 #1a0459, 0 3em 0 -1em #1a0459,
      -2em 2em 0 -1em #1a0459, -3em 0 0 -1em #1a0459, -2em -2em 0 -1em #1a0459;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em #1a0459, 2em -2em 0 -1em #1a0459,
      3em 0em 0 0 #1a0459, 2em 2em 0 0.2em #1a0459, 0 3em 0 0em #1a0459,
      -2em 2em 0 -1em #1a0459, -3em 0em 0 -1em #1a0459, -2em -2em 0 -1em #1a0459;
  }
  50% {
    box-shadow: 0 -3em 0 -1em #1a0459, 2em -2em 0 -1em #1a0459,
      3em 0 0 -1em #1a0459, 2em 2em 0 0em #1a0459, 0 3em 0 0.2em #1a0459,
      -2em 2em 0 0 #1a0459, -3em 0em 0 -1em #1a0459, -2em -2em 0 -1em #1a0459;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em #1a0459, 2em -2em 0 -1em #1a0459,
      3em 0 0 -1em #1a0459, 2em 2em 0 -1em #1a0459, 0 3em 0 0 #1a0459,
      -2em 2em 0 0.2em #1a0459, -3em 0 0 0 #1a0459, -2em -2em 0 -1em #1a0459;
  }
  75% {
    box-shadow: 0em -3em 0 -1em #1a0459, 2em -2em 0 -1em #1a0459,
      3em 0em 0 -1em #1a0459, 2em 2em 0 -1em #1a0459, 0 3em 0 -1em #1a0459,
      -2em 2em 0 0 #1a0459, -3em 0em 0 0.2em #1a0459, -2em -2em 0 0 #1a0459;
  }
  87.5% {
    box-shadow: 0em -3em 0 0 #1a0459, 2em -2em 0 -1em #1a0459,
      3em 0 0 -1em #1a0459, 2em 2em 0 -1em #1a0459, 0 3em 0 -1em #1a0459,
      -2em 2em 0 0 #1a0459, -3em 0em 0 0 #1a0459, -2em -2em 0 0.2em #1a0459;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em #1a0459, 2em -2em 0 0em #1a0459,
      3em 0 0 -1em #1a0459, 2em 2em 0 -1em #1a0459, 0 3em 0 -1em #1a0459,
      -2em 2em 0 -1em #1a0459, -3em 0 0 -1em #1a0459, -2em -2em 0 0 #1a0459;
  }
  12.5% {
    box-shadow: 0 -3em 0 0 #1a0459, 2em -2em 0 0.2em #1a0459, 3em 0 0 0 #1a0459,
      2em 2em 0 -1em #1a0459, 0 3em 0 -1em #1a0459, -2em 2em 0 -1em #1a0459,
      -3em 0 0 -1em #1a0459, -2em -2em 0 -1em #1a0459;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em #1a0459, 2em -2em 0 0 #1a0459,
      3em 0 0 0.2em #1a0459, 2em 2em 0 0 #1a0459, 0 3em 0 -1em #1a0459,
      -2em 2em 0 -1em #1a0459, -3em 0 0 -1em #1a0459, -2em -2em 0 -1em #1a0459;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em #1a0459, 2em -2em 0 -1em #1a0459,
      3em 0em 0 0 #1a0459, 2em 2em 0 0.2em #1a0459, 0 3em 0 0em #1a0459,
      -2em 2em 0 -1em #1a0459, -3em 0em 0 -1em #1a0459, -2em -2em 0 -1em #1a0459;
  }
  50% {
    box-shadow: 0 -3em 0 -1em #1a0459, 2em -2em 0 -1em #1a0459,
      3em 0 0 -1em #1a0459, 2em 2em 0 0em #1a0459, 0 3em 0 0.2em #1a0459,
      -2em 2em 0 0 #1a0459, -3em 0em 0 -1em #1a0459, -2em -2em 0 -1em #1a0459;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em #1a0459, 2em -2em 0 -1em #1a0459,
      3em 0 0 -1em #1a0459, 2em 2em 0 -1em #1a0459, 0 3em 0 0 #1a0459,
      -2em 2em 0 0.2em #1a0459, -3em 0 0 0 #1a0459, -2em -2em 0 -1em #1a0459;
  }
  75% {
    box-shadow: 0em -3em 0 -1em #1a0459, 2em -2em 0 -1em #1a0459,
      3em 0em 0 -1em #1a0459, 2em 2em 0 -1em #1a0459, 0 3em 0 -1em #1a0459,
      -2em 2em 0 0 #1a0459, -3em 0em 0 0.2em #1a0459, -2em -2em 0 0 #1a0459;
  }
  87.5% {
    box-shadow: 0em -3em 0 0 #1a0459, 2em -2em 0 -1em #1a0459,
      3em 0 0 -1em #1a0459, 2em 2em 0 -1em #1a0459, 0 3em 0 -1em #1a0459,
      -2em 2em 0 0 #1a0459, -3em 0em 0 0 #1a0459, -2em -2em 0 0.2em #1a0459;
  }
}
